<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank you</title>
  </head>
  <body class="container">
    <div>
      <h1 class="headTitle">Thank You</h1>
      <p class="description">
        You will recieve an email with servey results shortly
      </p>
    </div>
  </body>
</html>
